/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Premium Electric Violet Palette */
  --ifm-color-primary: #6c5ce7;
  --ifm-color-primary-dark: #5646e3;
  --ifm-color-primary-darker: #4b3bdc;
  --ifm-color-primary-darkest: #2d209d;
  --ifm-color-primary-light: #8275eb;
  --ifm-color-primary-lighter: #8d81ee;
  --ifm-color-primary-lightest: #afa6f4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Brighter accents for dark mode */
  --ifm-color-primary: #a29bfe;
  --ifm-color-primary-dark: #867def;
  --ifm-color-primary-darker: #786ee9;
  --ifm-color-primary-darkest: #4e42d4;
  --ifm-color-primary-light: #beb9ff;
  --ifm-color-primary-lighter: #cbc7ff;
  --ifm-color-primary-lightest: #f0efff;
  
  /* Deep Space Background */
  --ifm-background-color: #0f0f13;
  --ifm-background-surface-color: #18181f;
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
